@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h1>Pizzeria</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Immagine</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Margherita</td>
                <td>Pomodoro, mozzarella, basilico fresco, sale e olio.</td>
                <td> <img src="~/img/margherita.jpg" /></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Diavola</td>
                <td>Pomodoro, mozzarella, salame piccante, peperoncino, olive nere.</td>
                <td> <img src="~/img/diavola.jpg" /></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Quattro formaggi</td>
                <td>Mozzarella, gorgonzola, fontina, parmigiano, basilico.</td>
                <td> <img src="~/img/formaggi.jpg" /></td>
            </tr>
        </tbody>
    </table>
</div>